
body {
  font-family: 'Georgia', sans-serif;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

h1 {
  font-size: 48px;
  text-align: center;
}

p, li {
  color: rgb(98, 96, 96);
  font-weight: 300;
}

.description-paragraph {
  text-align: left;
}

h2 {
  font-size: 32px;
}

img {
  width: 50%;
  height: auto;
}

.header {
  display: grid;
  grid-template-columns: 500px 1fr;
}