body {
  font-family: Arial, Helvetica, sans-serif;

}


h1 {
  font-size: 48px;

}

p, li {
  color: rgb(98, 96, 96);
  font-weight: 300;
}

.description-paragraph {
  text-align: left;
}

h2 {
  font-size: 32px;
}

img {
  width: 500px;
  height: auto;
}

.image {
  background-color: aliceblue;
}